@using Application.Features.CompanyInfoes.Queries
@using BongoEcom.Services.Contracts
@inject CompanyInfoService companyService
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <TopbarComponent CompanyInfo="CompanyInfo"></TopbarComponent>
            <NavbarComponent CompanyInfo="CompanyInfo"></NavbarComponent>
        </div>
        <div>
            @Body
        </div>
        <div>
            <FooterComponent/>
        </div>
    </main>
</div>

@code 
{
    CompanyInfoDto CompanyInfo = new();
    bool rendered = false;

    protected async override Task OnInitializedAsync()
    {
        await companyService.Load();
        CompanyInfo = companyService.CompanyInfo ?? new();

        Auth.OnChange += StateHasChanged;
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // var userId = UserService.GetUserId();
            // CartService.SetUserId(userId);
        }
       
        return base.OnAfterRenderAsync(firstRender);
    }
}