
@inherits LayoutComponentBase

<div class="page">
    <main>
        <div>
            <TopbarComponent></TopbarComponent>
            <NavbarComponent></NavbarComponent>
        </div>
        <div>
            @Body
        </div>
        <div>
            <FooterComponent/>
        </div>
    </main>
</div>
