
<div class="account-sidebar">
    <p class="greeting">Hello, <strong>Abdul Halim</strong></p>
    <div class="verified-badge">✔ Verified Account</div>
    <div class="section">
        <h4>Manage My Account</h4>
        <ul>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Address Book</a></li>
        </ul>
    </div>

    <div class="section">
        <h4>My Orders</h4>
        <ul>
            <li><a href="#">Orders</a></li>
            <li><a href="#">My Returns</a></li>
            <li><a href="#">My Cancellations</a></li>
            <li><a href="#">Wishlist</a></li>
        </ul>
    </div>
</div>