<div class="profile-container">
    <div class="profile-row">
        <div class="profile-col">
            <label>Full Name</label>
            <p>Abdul Halim</p>
        </div>
        <div class="profile-col">
            <label>Email Address</label>
            <p>@("a.********@gmail.com")</p>
        </div>
        <div class="profile-col">
            <label>Mobile</label>
            <p>+880 174*****80</p>
        </div>
    </div>

    <div class="profile-row">
        <div class="profile-col">
            <label>Birthday</label>
            <p>1997-12-16</p>
        </div>
        <div class="profile-col">
            <label>Gender</label>
            <p>male</p>
        </div>
    </div>

    <div class="profile-footer">
        <button class="edit-btn">EDIT PROFILE</button>
    </div>
</div>