<div class="address-book">
    <div class="header">
        <div>Full Name</div>
        <div>Address</div>
        <div>Postcode</div>
        <div>Phone Number</div>
        <div></div>
    </div>

    <div class="address-item">
        <div>
            <div>Abdul Halim</div>
            <div class="address-type">OFFICE</div>
        </div>
        <div>16/15, Babar Road, Dhaka - Dhaka - North - Shyamoli -</div>
        <div>1743920880</div>
        <div>
            <span class="default-tag">Default Shipping Address</span>
        </div>
        <div class="edit-btn">EDIT</div>
    </div>

    <div class="address-item">
        <div>
            <div>ABDUL HALIM</div>
            <div class="address-type">HOME</div>
        </div>
        <div>Uttar Balorchar, Sylhet - Sylhet Sadar - Shibganj - Khoradi Para</div>
        <div>1743920880</div>
        <div>
            <span class="default-tag">Default Billing Address</span>
        </div>
        <div class="edit-btn">EDIT</div>
    </div>

    <div class="add-new">ADD NEW ADDRESS</div>
</div>