@using Application.Features.Attributes.Commands
@rendermode InteractiveServer

@inject IDialogService DialogService;

<FluentDialogFooter>
    <FluentButton BackgroundColor="Green" Appearance="Appearance.Accent" OnClick="@(() => HandleValidSubmit())">Save</FluentButton>
</FluentDialogFooter>

<FluentDialogBody>
    <div class="mb-3">
        <label for="name" class="form-label">Group Name</label>
        <InputText id="name" class="form-control" @bind-Value="Content.Name" />
    </div>
</FluentDialogBody>

@code {
    private async Task HandleValidSubmit()
    {
        var command = new AddEditAttributeGroupCommand
        {
            Id = Content.Id,
            Name = Content.Name,
        };

        var response = await _mediator.Send(command);

        if (response.IsSuccess)
        {
            await Dialog.CloseAsync("Saved successfully");
            await UIService.ShowSuccessAsync("Saved successfully");
        }
    }
}
